* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
p {
  color: #6c757d;
}
a {
  text-decoration: none;
  color: #6c757d;
}
a:hover {
  text-decoration: none;
  color: #6c757d;
}
h2 {
  color: #6c757d;
  font-size: 1.5rems;
}
.main_cart {
  background-color: #fff;
}
.card {
  display: flex;
  justify-content: start;
  border: none;
  width: 100%;
}
.product_img img {
  min-width: 200px;
  min-height: 200px;
}
.product_name {
  color: #000;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 500;
}
.card-title p {
  font-size: 1rem;
  font-weight: 600;
}
.shadows {
  background-color: #6c757d;
  border-radius: 15px;
  box-shadow: #6c757d;
}
.remove_wish p {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.price_money h3 {
  font-size: 1rem;
  font-weight: 600;
}
.set_quantity {
  position: relative;
}
.set_quantity::after {
  content: "(Note,1 piece)";
  width: auto;
  height: auto;
  text-align: center;
  position: absolute;
  font-size: 0.7rem;
  bottom: -20px;
  right: 2rem;
}
.page-link {
  line-height: 18px;
  width: 45px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #495057;
}
.page-item input {
  line-height: 22px;
  padding: 3px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-link:hover {
  text-decoration: none;
  color: #495057;
  outline: none !important;
}
.page-link:focus {
  box-shadow: none;
}
.price_indiv p {
  font-size: 1.1rem;
}
.fas:hover {
  color: red;
}
.fa-trash-alt:hover {
  color: red;
}
